<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>WebFigures</servlet-name>
        <servlet-class>com.mathworks.toolbox.javabuilder.webfigures.WebFiguresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>SFALSSVRServlet.java</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SFALSSVRServlet</servlet-name>
        <servlet-class>SFALSSVRServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SFALSSVRGraphServlet</servlet-name>
        <servlet-class>SFALSSVRGraphServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SFALSSVMServlet</servlet-name>
        <servlet-class>SFALSSVMServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LSSVRServlet</servlet-name>
        <servlet-class>LSSVRServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LSSVMServlet</servlet-name>
        <servlet-class>LSSVMServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebFigures</servlet-name>
        <url-pattern>/WebFigures/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SFALSSVRServlet</servlet-name>
        <url-pattern>/SFALSSVRServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SFALSSVRGraphServlet</servlet-name>
        <url-pattern>/SFALSSVRGraphServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SFALSSVMServlet</servlet-name>
        <url-pattern>/SFALSSVMServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LSSVRServlet</servlet-name>
        <url-pattern>/LSSVRServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LSSVMServlet</servlet-name>
        <url-pattern>/LSSVMServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
</web-app>
